<footer>
  <p>&copy; 2026 Your Site Name. All rights reserved.</p>
  <div class="social-links">
    <a href="https://www.facebook.com/yourpage" target="_blank" aria-label="Facebook">
      <i class="fab fa-facebook-f"></i>
    </a>
    <a href="https://www.instagram.com/yourpage" target="_blank" aria-label="Instagram">
      <i class="fab fa-instagram"></i>
    </a>
    <a href="https://www.youtube.com/yourpage" target="_blank" aria-label="YouTube">
      <i class="fab fa-youtube"></i>
    </a>
  </div>
</footer>
