<header class="site-header">
  <div class="header-container">
    <div class="nav-left nav">
      <a href="/index.html" data-page="home">Home</a>
      <a href="/about/index.html" data-page="about">About</a>
      <a href="/services/index.html" data-page="services">Services</a>
      <a href="/contact/index.html" data-page="contact">Contact</a>
    </div>

    <div class="logo-wrapper">
      <a href="/index.html"><img src="/assets/mmlogo.png" alt="Madrinich Music Logo" class="header-logo"></a>
    </div>

    <div class="menu-toggle">&#9776;</div>
  </div>
</header>
